<article class="post<% if (post.wide) { %> wide<% } %>" data-post-id="<%= post._id %>">
  <!-- <a class="post-link" href="<%- url_for(post.path) %>"> -->
    <% if (post.image) { %><img class="post-image<% if (post.fade) { %> faded<% } %>" src="<%- url_for(post.path) %><%= post.image %>"><% } %>
    <!-- <h4 class="post-title"><%= post.title %></h4> -->
  <!-- </a> -->
</article>
